.card {
  width: 100%;
  min-width: 195px;
  height: 125px;
  background-color: #FBFBFB;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: 30px;

  .card-content {
    width: 80%;
    display: flex;

    .card-img {

      img {
        width: 60px;
        height: 60px;
      }
    }

    .card-infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5%;
      margin-left: 1.5em;

      .card-value {
        font-size: 1.2em;
        font-weight: 700;
        color: #282D30;
      }

      .card-category {
        font-size: 0.8em;
        font-weight: 500;
        color: #74798C;
      }
    }
  }
}
