.navigation {
  display: flex;
  align-items: center;
  height: 91px;
  margin-right: 60px;
  //margin-right: 2%;
  //width: 100%;
  justify-content: space-between;
  width: 70%;

  li {
    list-style-type: none;
    //margin-left: 220px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;

    a {
      color: white;
    }
  }
}
