.navigation {
  display: flex;
  align-items: center;
  height: 91px;
  margin-right: 3.7em;
  justify-content: space-between;
  width: 70%;

  li {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;

    a {
      color: white;
    }
  }
}
