.welcome {
  //margin-top: 60px;

  h2 {
    font-size: 48px;
    font-weight: 500;
    //padding-top: 60px;
    padding-top: 30px;

    span {
      color: #FF0101;
    }
  }

  p {
    padding: 40px 0;
  }
}
