.welcome {

  h2 {
    font-size: 3em;
    font-weight: 500;
    padding-top: 0.5em;

    span {
      color: #FF0101;
    }
  }

  p {
    padding: 2.5em 0;
    font-size: 1.1em;
    font-weight: 400;
  }
}

@media (max-width: 1024px) and (max-height: 780px) {
  .welcome {

    h2 {
      font-size: 2em;
      padding-top: 1em;
    }

    p {
      padding: 0.6em 0;
    }
  }
}
