.sidebar {
  background: #020203;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  .vertical-text {
    color: white;
    transform: rotate(270deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -120px;
    font-size: 12px;
    font-weight: 500;
    width: max-content;
    justify-content: flex-end;
  }
}
